* {
    /* boas práticas, tirar o margin e o padding*/
    margin: 0;
    padding: 0;
    
    /* para não contar valor de padding nas larguras dos elementos*/
    box-sizing: border-box; 
}

ul {
    list-style: none;
}