body {
    font-family: 'Outfit', sans-serif;
    background-image: url(../imagens/fundo-site.png);
    background-repeat: no-repeat;
    /*Para que a imagem cubra todo o body:*/
    background-size: cover;
    /*Para ocupar 100% da altura*/
    min-height: 100vh;
}

.cabecalho {    
    /*Ao utilizar 'flex' no elemento pai, os elementos filhos ficam um ao lado do outro:*/
    display: flex;
    /*Centralizando os filhos horizontalmente na página:*/
    justify-content: center;
    /*Alinhado os elementos filhos verticalmente:*/
    align-items: center;
    /*Dá um espaço entre os elementos filhos, funciona apenas quando usado o 'display: flex. Mais indicado o 'gap' do que o 'margin'*/
    gap: 15px;
    /*Dá espaço entre o elemento e o topo - 'Padding' é indicado para espaçamento interno ao elemento, para desgrudar das bordas. Já o 'margin' é mais indicado para espaçamento entre elementos*/
    padding-top: 50px;
}

.cabecalho .titulo {
    color: #f1ecff;
}

.cabecalho .pokebola {
    width: 40px;
    height: 40px;
}

.pokemon-slider {
    display: flex;
    /*Alinhando os elementos no centro verticalmente, assim as setas ficam do tamanho real da imagem e não esticada como ficaria sem essa propriedade*/
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 60px 0;
}

.lista-pokemons {
    width: 310px;
    height: 520px;
    /*Sempre o 'position: absolute' vai no filho e o 'position: relative' vai no pai para que o cartao fique na posição que queremos, relativa ao pai */
    position: relative;
}

.btn-seta {
    background-color: #f1ecff;
    width: 70px;
    height: 70px;
    border-radius: 50px;
    border: none;
    /*Para indicar que o elemento é clicável:*/
    cursor: pointer;
    /*essa propriedae é colocada no elemento que vai sofrer a transição, no caso a seta aqui vai sofrer a transição de mudança de cor ao passar o mouse em cima*/
    transition: background-color 0.2s;
    /*pode pegar códigos prontos no site: https://getcssscan.com/css-box-shadow-examples*/
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.btn-seta.btn-voltar {
    /*Para rotacionar a imagem da seta em 180 graus no eixo y, assim ela fica apontando para esquerda(voltar)*/
    transform: rotatey(180deg);
}

/*':hover' pseudo classe*/
.btn-seta:hover {
    background-color: #8351fe;
}

.cartao {
    /*o range é de 0 a 1 - Para esconder os outros cards. 0 fica totalmente apagado.*/
    /* opacity: 0; */
    background-color: blueviolet;
    /*p que o cartão (elemento <li>) ocupe toda a altura do cartão (elemento <ul>)*/
    height: 100%;
    /*Para alinhar os elementos do cartão: */
    display: flex;
    /*É preciso modificar a direção do 'flex' para 'column' porque por padrão vem como 'row' = linha*/
    flex-direction: column;
    /*Aqui vai ser alinhado verticalmente, dando um espaço entre os elementos filhos*/
    justify-content: space-between;
    /*Sempre o 'position: absolute' vai no filho e o 'position: relative' vai no pai. Com o 'absolute, o elemento flutua por cima dos outros elementos html da página, e usando o 'position: relative' no pai que é 'cartao' que é o <ul> aí o cartão vai ficar na posição correta*/
    position: absolute;
    padding: 12px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    /*Para deixar a transição mais sutil na mudança de cartão*/
    transition: opacity 0.3s ease-in-out;
}

.cartao.selecionado {
    opacity: 1;
    /*z-inex é o eixo y, de profundidade, fazendo tipo um 3D, com ele aqui, o card selecionado sempre ficará em cima, se não tivesse ele, o cartão que não estivesse selecionado iria ficar em cima do selecionado de forma apagada, com opacidade 0, atrapalhando, pois não conseguiria rolar o texto do cartão selecionado*/
    z-index: 1;
}

.fundo-1 {
     /*Dá p colocar vários valores de uma vez p a mesma propriedade*/
    background: url(../imagens/fundo-card-1.jpg)
    no-repeat;
}

.fundo-2 {
    
    background: url(../imagens/fundo-card-2.jpg)
    no-repeat;
}

.fundo-3 {
    
    background: url(../imagens/fundo-card-3.jpg)
    no-repeat;
}

.cartao .informacoes {
    background-color: rgba(179, 177, 185, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.cartao .informacoes .nome {
    color: #f1ecff;
    font-size: 22px;
}

.cartao .informacoes .vida {
    background-color: #333;
    color: #f1ecff;
    padding: 6px 10px;
    border-radius: 20px;
}

/*vai alinhar ao cenrtro todos os elementos do cartão, caso as imagens sejam alteradas e tenham outros tamanhos*/
.container-iamgem {
    text-align: center;
}


.cartao .imagem-pokemon {
    /*Aqui, largura e altura e máxima é para não estourar a imagem para fora do cartão, ela vai ocupar 100% do cartão, caso a imagem seja alterada por uma imagem grande*/
    max-width: 100%;
    max-height: 280px;
    padding: 20px;
}

.cartao .descricao {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.cartao .descricao .titulo {
    background-color: #333;
    color: #f1ecff;
    font-size: 15px;
    padding: 12px;
}

.cartao .descricao .texto {
    font-size: 14px;
    padding: 12px;
    text-align: justify;
    /*Para que o texto não ultrapasse essa altura máxima*/
    max-height: 115px;
    /*Para que o texto não transborde/vaze no eixo y, por conta dele surge o scroll/barra de rolagem*/
    overflow-y: auto;
}